

.primary-nav{
  width:100%;
  height:100px;
  text-align:center;

}

.left-box{
  width:33.3%;
  float: left;
  border: 1px solid black;
  background-color: green;
  color: red;
}

.middle-box{
  width:33.3%;
  float:left;
  border: : 1px solid black;
  background-color: green;
  color: red;


}
.right-box{
  width: 33.3%;
  float:right;
  border: 1px solid black;
  background-color: green;
  color:red;

}

.shitty{

  height : 75px;
  width: 75px;
  display:block;
  margin-left: auto;
  margin-right:auto;
  border:1px solid black;
}

.list{
  text-align: center;
  font-family:fantasy;
}

.main-header{
  font-family: Impact, sans-serif;
}

*{
  box-sizing: border-box;
}
.search{
  text-align: center;
  font-size: 30px;
  font-family: Arial Rounded MT Bold;
}
.powered{
  text-align: center;
  font-size: 12px;
  font-family: Arial Rounded MT Bold;
}
body{
  background-color: purple;
}
.middle{
  text-align: center;
}

.unordered li{
  list-style-type: none;
}
.pic{
  border:3.5px solid black;
}

.bill{
  height: 75px;
  width:75px;
}

.changing-box{
  margin-left: auto;
  margin-right: auto;
  height: 220px;
  width: 220px;
  background-image: url("./screenshot.png");
  border: 3px solid black;
  background-size:cover;
  animation-name: switcher;
  animation-duration: 8s;
  animation-iteration-count: infinite;

}

.micky{
  text-align: center;
}

.cutes{
  justify-content: space-around;
  text-align: center;
}

.cute1{
  height: 250px;
  background-image: url("IMG_0494.jpg");
  border: 4px solid black;
  float:left;
  float:left;
    width:33%;
    background-size:cover;

}

.cute2{
  height: 250px;
  background-image: url("IMG_0771.jpg");
  border: 4px solid black;
  display: inline-block;
   margin:0 auto;
   width:33%;
   background-size:cover;


}

.cute3{
  height: 250px;
  background-image: url("IMG_0773.jpg");
  border: 4px solid black;
  float:right;
      width:33%;
      background-size:cover;

}

.panel1{
margin-top:255px;
height: 60px;

  display:none;
  border:2px solid black;
  background-color: white;
  text-align: left;
}

.panel2{
margin-top:255px;
height: 60px;

  display:none;
  border:2px solid black;
  background-color: white;
  text-align: left;

}

.panel3{
margin-top:255px;
height: 60px;
 display:none;
  border:2px solid black;
  background-color: white;
  text-align: left;
}

.searchbox{
  display: table;
  margin-right: auto;
  margin-left: auto;

}




@keyframes switcher {
  0% {background-image: url("./screenshot.png")}
  33% {background-image: url("./screenshot2.png")}
  66% {background-image: url("IMG_0699.jpg")}
}
