<script>
$(document).ready(function(){
    $(".cute1").click(function(){
        $(".panel1").slideToggle("slow");
    });
    $(".cute2").click(function(){
        $(".panel2").slideToggle("slow");
    });
    $(".cute3").click(function(){
        $(".panel3").slideToggle("slow");
    });
});
</script>

<div class = "cutes">

    <div class = "cute1">
      <div class="panel1">Whats Up! I am Billy James! I was rescued in 2013 in Park City, Utah and I love to Run!</div>
    </div>


    <div class = "cute2">
      <div class="panel2">Whats Up! I am Billy!</div>

    </div>

    <div class = "cute3">
      <div class="panel3">Whats Up! I am Grover!</div>

    </div>

</div>
